{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

    <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard-all/ckeditor.js"></script>

    <div class="row">
        <div class="col-10">
            <h1> Create Document </h1>
        </div>
        <div class="col" style="padding-top: 5px">
            <button type="button" class="btn btn-success btn-block" id="createDocBtn">Save Document</button>
        </div>
    </div>

    <textarea cols="80" id="editor1" name="editor1" rows="10" >
        New Document
	</textarea>

    <script>
		// We need to turn off the automatic editor creation first.
		CKEDITOR.disableAutoInline = true;

		CKEDITOR.replace( 'editor1' );

	</script>

    <script type="text/javascript" src="/static/createDocBundle.js"></script>
{% endblock %}
