{% extends 'base.html' %}
{% block content %}

    <script type="text/javascript" src="/static/listUsersDocBundle.js"></script>

    <div class="container">
        <h1 class="display-3">Hello!</h1>
        <p>
            The aim of this project is to create document sharing system that would save the user's work from
            censorship/forced-deletion. Also give users the option to store documents in an encrypted state, so that if
            the information is sensitive, the document cannot be read from the blockchain freely.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Create a document »</a></p>
    </div>


    <div class="container" style="padding-top: 5%">
        <h2>Your Documents</h2>
        <ul class="list-group list-group-flush" id="docListContainer">

        </ul>
    </div>

{% endblock %}
